<md-bottom-sheet class="md-grid">
    <md-list>
        <md-list-item ng-repeat="item in menus">
            <md-button class="md-grid-item-content" ng-click="listItemClick(item)" ui-route="{{item.uiRoute}}">

                <div class="md-grid-text"> {{ item.title }} </div>
            </md-button>
        </md-list-item>
    </md-list>
</md-bottom-sheet>
