<md-list>
    <md-list-item ui-route="/signin" data-ng-hide="authentication.user">
        <a href="/#!/signin">Sign In</a>
    </md-list-item>
    <md-list-item data-ng-show="authentication.user">
        <img ng-src="" class="md-avatar"/>

        <div class="md-list-item-text">
            <h3 data-ng-bind="authentication.user.displayName"></h3>

            <a href="/auth/signout">Signout</a>
        </div>
    </md-list-item>
<div data-ng-if="menu.shouldRender(authentication.user)">
    <!-- Reiterate over the menus -->
    <md-list-item data-ng-repeat="item in menu.items" ng-click="showBottomSheet($event,item.items)"
                  data-ng-if="item.shouldRender(authentication.user)">
        <h4>{{item.title}}</h4>
    </md-list-item>
</div>
</md-list>
