<section layout="row">
	<div flex layout="column" style="padding-bottom: 15px;">
		<md-toolbar class="md-warn">
			<div class="md-toolbar-tools">
				<h2 class="md-flex">Warning</h2>
			</div>
		</md-toolbar>
		<md-content layout-padding layout-align="center center">
			<h2 layout>This WebApp is still under development.</h2>
		</md-content>
	</div>
</section>
