.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}


@media print
{
	.no-print, .no-print *
	{
		display: none !important;
	}
}


md-bottom-sheet.md-grid md-list-item .md-grid-item-content {
	width: auto;
}

md-bottom-sheet.md-grid md-list-item .md-grid-text {
	width: auto;
}

md-bottom-sheet.md-grid md-list-item {
	height: 50px;
}
