<section flex layout="column" layout-fill>
    <md-content content="padding">
        <form data-ng-submit="createOrUpdate()" novalidate>
            <div layout-sm="column" layout-gt-sm="row">
                <md-input-container>
                    <label>Name</label>
                    <input type="text" data-ng-model="product.name" id="name" required>
                </md-input-container>

                <md-input-container>
                    <label>Unit</label>
                    <input type="text" data-ng-model="product.units" id="units" required>
                </md-input-container>

                <md-input-container>
                    <label>Price / Unit (transaction)</label>
                    <input type="currency" data-ng-model="product.unitPrice" id="price" required>
                </md-input-container>
                <md-button type="submit" aria-label="Add Product" class="md-raised md-primary">
                    <span data-ng-show="product._id">Edit</span>
                    <span data-ng-show="!product._id">Add</span>
                </md-button>
                <md-button type="reset" aria-label="Add Product" class="md-raised md-primary">Reset</md-button>
            </div>
        </form>

    </md-content>
</section>


