<section flex layout="column" layout-fill  data-ng-controller="SuppliersController">
    <md-card layout-padding>

        <h2 class="md-title" align="center">New Supplier</h2>
        <md-content layout-padding>
            <form data-ng-submit="create()" novalidate>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Supplier Name</label>
                        <input type="text" data-ng-model="name" id="name" required>
                    </md-input-container>
                </div>
                <div layout layout-sm="column">

                        <md-button type="submit" aria-label="Create New Supplier" class="md-raised md-primary">Create New Supplier</md-button>

                </div>

            </form>

        </md-content>
    </md-card>


</section>