<section data-ng-controller="SuppliersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Suppliers</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="supplier in suppliers" data-ng-href="#!/suppliers/{{supplier._id}}" class="list-group-item">

			<h4 class="list-group-item-heading" data-ng-bind="supplier.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!suppliers.$resolved || suppliers.length">
    	No Suppliers yet, why don't you <a href="/#!/suppliers/create">create one</a>?
    </div>
</section>
