<section layout layout-align="center center" data-ng-controller="SuppliersController" data-ng-init="findOne()">
    <md-card layout="column"  layout-padding>
        <div layout="row">
            <h2 class="md-title">{{supplier.name}}</h2>
            <md-button ng-click="showAddProductDialog($event)" class="md-raised md-primary">Add Products</md-button>
        </div>

        <md-content layout="column" layout-padding>
            <md-whiteframe class="md-whiteframe-z4" layout layout-align="center center"
                           data-ng-controller="ProductsController">
                <div data-ng-include="'/modules/suppliers/views/add-product.supplier.client.tpl.html'"></div>
            </md-whiteframe>
            </md-content>
        <md-content layout="column">
            <md-list>
                <md-list-item class="md-1-line">
                    <div flex layout="row">
                        <div flex="20"> Name</div>
                        <div flex="10">Unit</div>
                        <div flex="10">Price / Unit</div>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>

                <md-list-item class="md-3-line" ng-repeat="product in supplier.products" >
                    <div class="md-list-item-text">
                        <div flex layout="row">
                            <div flex="20" data-ng-bind="product.name"></div>
                            <div flex="10" data-ng-bind="product.units"></div>
                            <div flex="10" data-ng-bind="product.unitPrice"></div>
                            <div flex="20" layout="row">
                                <md-button aria-label="Edit" ng-click="editProduct(product)"
                                           class="md-primary md-raised"><i class="glyphicon glyphicon-edit"></i>
                                </md-button>
                                <md-button aria-label="Delete" ng-click="removeProduct(product)"
                                           class="md-warning md-raised"><i class="glyphicon glyphicon-trash"></i>
                                </md-button>
                            </div>
                        </div>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-card>
</section>
