<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<p>Hello Tomfoolerans!</p>

<p>{{type|title}} sheet for the {{shift}} ({{ date|date('d-m-Y') }}) has been completed and submitted by {{userName}}</p>

<h3>Checklist Comment</h3>

<p>{{comments}}</p>

<p>For more details <a href="{{url}}"> Click here</a>.</p>

{% for groups in checklists|groupBy('group') %}
<div style="background-color: wheat">
    <h3 align="center">{{loop.key}}</h3>
</div>
{% for group in groups %}
<p>{{group.name}} {% if group.isCompleted %}<small>  - Done By {{group.user.displayName}}</small> {% else %}<span style="color:red;"> Not done</span> {% endif %}</p>
{% endfor %}
{% endfor %}
</body>
</html>
