<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<p>Hello Tomfoolerans!</p>


<h2>Sales Report for {{date | date('d-m-Y')}}</h2>
<h2>Total Sales &pound{{meta.total.sales}}</h2>

<table cellpadding="5px">
    <tr>
        <th>Floors</th>
        <th>Covers</th>
        <th>Sales</th>
        <th>Sales / Cover</th>
    </tr>
    <tr>
        <td>First Floor</td>
        <td>{{meta.firstFloor.covers}}</td>
        <td>{{meta.firstFloor.sales}}</td>
        <td>&pound{{meta.firstFloor.salesPerCover}}</td>
    </tr>
    <tr>
        <td>Ground Floor</td>
        <td>{{meta.groundFloor.covers}}</td>
        <td>{{meta.groundFloor.sales}}</td>
        <td>&pound{{meta.groundFloor.salesPerCover}}</td>
    </tr>
    <tr>
        <td>Bar Tabs</td>
        <td>{{meta.barTab.covers}}</td>
        <td>{{meta.barTab.sales}}</td>
        <td>&pound{{meta.barTab.salesPerCover}}</td>
    </tr>
    <tr>
        <th>TOTAL</th>
        <th>{{meta.total.covers}}</th>
        <th>{{meta.total.sales}}</th>
        <th>&pound{{meta.total.salesPerCover}}</th>
    </tr>


</table>

<table>
    <colgroup>
        <col width="33%">
        <col width="20%">
        <col width="10%" align="right">
        <col width="10%" align="right">
        <col width="10%" align="right">
    </colgroup>
    {% for groups in salesItems|groupBy('GroupCode') %}
        <tr>
            <th colspan="5" style="background-color: yellow">{{loop.key}}</th>
        </tr>
        <tr>
            <th>Item Name</th>
            <th>Portion</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        {% for item in groups %}
            <tr>
                <td>{{item.MenuItemName}}</td>
                <td>{{item.PortionName}}</td>
                <td align="right">{{item.Quantity}}</td>
                <td align="right">{{item.Price}}</td>
                <td align="right">{{item.Price * item.Quantity}}</td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>
</body>
</html>
