
<section flex layout="column" layout-fill layout-padding
         data-ng-controller="ChecklistsOpeningController"
         data-ng-init="find()">
    <div ng-show="isDataLoading" class="loader" layout="row" layout-sm="column" layout-align="space-around center">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
<md-input-container>
    <label>Checklist Date</label>
    <input type="date" ng-model="checklistDate" ng-change="find(checklistDate)">

</md-input-container>
    <div ng-hide="checklistMeta.checklists.length" class="md-warning"><p>No Data exists for this date. </p></div>
    <section ng-show="checklistMeta.checklists.length">

        <md-tabs class="md-primary" md-selected="0" md-align-tabs="top" md-dynamic-height md-border-bottom>
            <md-tab ng-repeat="(group,tasks) in checklists" id="{{group}}">
                <md-tab-label>{{group}}</md-tab-label>
                <md-tab-body >
                    <md-list-item  data-ng-repeat="task in tasks track by $index">
                        <md-checkbox ng-disabled="checklistMeta.isLocked" ng-model="task.isCompleted" ng-change="updateTask(task)"></md-checkbox>
                        <p>{{task.name}}</p>
                        <small>{{task.user.displayName}}</small>
                        <!--
                        <md-button ng-click="doSecondaryAction($event)">
                        <md-icon md-font-library="material-icons">comment</md-icon>
                        </md-button>
                        -->
                    </md-list-item>
                </md-tab-body>
            </md-tab>
        </md-tabs>


    <md-toolbar>
        <h3><span>Submit Opening Sheet</span></h3>
    </md-toolbar>
    <md-content class="md-padding">

        <md-input-container>
            <label>Shift Comments</label>
            <input ng-model="checklistMeta.shiftComment" ng-disabled="checklistMeta.isLocked" aria-label="Shift Comments" type="textarea" ng-model="checklist.comments">
        </md-input-container>
        <md-button ng-disabled="checklistMeta.isLocked" ng-click="update()" class="md-raised">Save Comments</md-button>
        <md-button ng-hide="checklistMeta.isLocked" ng-click="closeChecklist()" class="md-raised">Submit & Lock Checklist</md-button>
        <md-button ng-show="checklistMeta.isLocked" ng-click="unlockChecklist()" class="md-raised">Unlock Checklist</md-button>
    </md-content>

</section>
</section>
