
<section flex layout="column" layout-fill layout-padding
         data-ng-controller="ChecklistsOpeningTemplateController"
         data-ng-init="find()">

    <md-whiteframe class="md-whiteframe-z4" layout layout="row" layout-wrap layout-align="center" layout-padding>
        <form name="task_form" novalidate layout="row" layout-fill>
            <div flex="25">
                <md-input-container>
                    <label>Group</label>
                    <input required name="group" ng-model="task.group">

                </md-input-container>
            </div>
            <div flex="50">
                <md-input-container>
                    <label>Task Name</label>
                    <input required name="taskName" ng-model="task.taskName">
                </md-input-container>
            </div>
            <div flex="10">

                <md-button class="md-raised" ng-hide="task._id" ng-disabled="task_form.$invalid" ng-click="create()">Add</md-button>
                <md-button class="md-raised" ng-show="task._id" ng-disabled="task_form.$invalid" ng-click="update()">Save</md-button>
            </div>
        </form>
    </md-whiteframe>

    <md-whiteframe class="md-whiteframe-z4" layout="column" layout-wrap layout-align="center" layout-padding>

        <div layout="column" layout-fill data-ng-repeat="(group,tasks) in tasks">
            <md-divider></md-divider>
            <div flex align="center" style="background-color: grey"><h2 class="md-title">{{group}}</h2></div>
            <div layout="column" layout-fill data-ng-repeat="task in tasks">
                <div layout-fill layout="row">
                    <div flex="90"><h3 class="md-body-2">{{task.taskName}}</h3></div>
                    <div flex="5">
                        <md-button ng-click="editTask(task)" class="md-icon-button">
                            <md-icon md-font-library="material-icons">edit</md-icon>
                        </md-button>
                    </div>
                    <div flex="5">
                        <md-button ng-click="showDeleteConfirm($event,task)" class="md-icon-button">
                            <md-icon md-font-library="material-icons">delete</md-icon>
                        </md-button>
                    </div>


                </div>
                <md-divider></md-divider>
            </div>
        </div>


    </md-whiteframe>


</section>
