<section data-ng-controller="ChecklistsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Checklists</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="checklist in checklists" data-ng-href="#!/checklists/{{checklist._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="checklist.created | date:'medium'"></span>
				by
				<span data-ng-bind="checklist.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="checklist.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!checklists.$resolved || checklists.length">
    	No Checklists yet, why don't you <a href="/#!/checklists/create">create one</a>?
    </div>
</section>