<section flex layout="column" layout-fill layout-padding data-ng-controller="ChecklistsTabController">
<md-toolbar no-padding align="center">
    <h3><span>{{tablabel}}</span></h3>
</md-toolbar>
    <md-content class="md-padding">
        <md-tabs class="md-primary" md-selected="0" md-align-tabs="top" md-dynamic-height md-border-bottom>
            <md-tab id="opening">
                <md-tab-label>Opening Template</md-tab-label>
                <md-tab-body >
                    <section data-ng-include="'modules/checklists/views/checklist.opening.template.client.view.html'"></section>

                </md-tab-body>
            </md-tab>
            <md-tab id="closing">
                <md-tab-label>Closing Template</md-tab-label>
                <md-tab-body >
                    <section data-ng-include="'modules/checklists/views/checklist.closing.template.client.view.html'"></section>

                </md-tab-body>
            </md-tab>

        </md-tabs>
    </md-content>

    </section>
