<section flex layout="column" layout-fill data-ng-controller="IngredientsController" data-ng-init="initCreate()">

    <md-card layout-padding>
       <span class="md-title">
            <h2 align="center"> Add Ingredient </h2>
            <md-select placeholder="Supplier" data-ng-model="frm.supplier">
                <md-option ng-repeat="supplier in suppliers" value="{{supplier._id}}">{{supplier.name}}</md-option>
            </md-select>
       </span>


        <md-content content="padding">
            <form data-ng-submit="create(frm)">
                <div layout-sm="column" layout-gt-sm="row">
                    <md-input-container>
                        <label>Name</label>
                        <input type="text" data-ng-model="frm.name" id="name" required>
                    </md-input-container>


                    <md-select placeholder="Supplier" data-ng-model="frm.supplier">
                        <md-option ng-repeat="supplier in suppliers" value="{{supplier._id}}">{{supplier.name}}
                        </md-option>
                    </md-select>

                </div>
                <div layout-sm="column" layout-gt-sm="row">
                    <md-input-container>
                        <label>Transaction Unit</label>
                        <input type="text" data-ng-model="frm.transactionUnit" id="transactionUnit" required>
                    </md-input-container>

                    <md-input-container>
                        <label>Recipe Unit</label>
                        <input type="text" data-ng-model="frm.recipeUnit" id="recipeUnit" required>
                    </md-input-container>

                    <md-input-container>
                        <label>Conversion Factor</label>
                        <input type="number" data-ng-model="frm.conversionFactor" id="conversionFactor" required>
                    </md-input-container>

                    <md-input-container>
                        <label>Price (transaction)</label>
                        <input type="currency" data-ng-model="frm.price" id="price" required>
                    </md-input-container>

                </div>

                <div layout>
                    <button type="submit" class="md-raised md-primary">Add Product</button>
                </div>


            </form>

        </md-content>
    </md-card>
    <pre>{{frm}}</pre>
</section>
