<section layout="column" layout-fill data-ng-controller="IngredientsController" data-ng-init="find()">
    <div layout="row">
        <div flex="10">
            {{ingredient.name}}
        </div>
        <div flex="10">

        </div>
    </div>
    <div class="page-header">
        <h1>Ingredients</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="ingredient in ingredients" data-ng-href="#!/ingredients/{{ingredient._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="ingredient.created | date:'medium'"></span>
				by
				<span data-ng-bind="ingredient.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="ingredient.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!ingredients.$resolved || ingredients.length">
    	No Ingredients yet, why don't you <a href="/#!/ingredients/create">create one</a>?
    </div>
</section>