<section flex layout="column" layout-fill layout-padding
         data-ng-controller="ReportsController" data-ng-init="salesInit()">
    <div ng-show="isDataLoading" class="loader" layout="row" layout-sm="column" layout-align="space-around center">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div layout="row" class="no-print">
        <md-input-container flex>
            <label>From</label>
            <input type="date" ng-model="dateFilter.fromDate">
        </md-input-container>
        <md-input-container flex>
            <label>To</label>
            <input type="date" ng-model="dateFilter.toDate">
        </md-input-container>
        <md-button class="md-raised" data-ng-click="getSalesReport(dateFilter)">Get Report</md-button>
    </div>

    <whiteframe class="md-whiteframe-z4" layout="column" layout-padding ng-show="meta">
        <div layout layout="row">
            <div flex="25">Floors</div>
            <div flex="25">Covers</div>
            <div flex="25">Sales</div>
            <div flex="25">Sale / Cover</div>
        </div>
        <md-divider></md-divider>
        <div layout layout="row">
            <div flex="25">First Floor</div>
            <div flex="25">{{meta.firstFloor.covers}}</div>
            <div flex="25">{{meta.firstFloor.sales | currency: '&pound' :2}}</div>
            <div flex="25">{{meta.firstFloor.sales / meta.firstFloor.covers | currency: '&pound' :2}}</div>
        </div>
        <md-divider></md-divider>
        <div layout layout="row">
            <div flex="25">Ground Floor</div>
            <div flex="25">{{meta.groundFloor.covers}}</div>
            <div flex="25">{{meta.groundFloor.sales | currency: '&pound' :2}}</div>
            <div flex="25">{{meta.groundFloor.sales / meta.groundFloor.covers | currency: '&pound' :2}}</div>
        </div>
        <md-divider></md-divider>
        <div layout layout="row">
            <div flex="25">Bar Tab</div>
            <div flex="25">{{meta.barTab.covers}}</div>
            <div flex="25">{{meta.barTab.sales | currency: '&pound' :2}}</div>
            <div flex="25">{{meta.barTab.sales / meta.barTab.covers | currency: '&pound' :2}}</div>
        </div>
        <md-divider></md-divider>
        <div layout layout="row" class="md-title">
            <div flex="25">Totals</div>
            <div flex="25">{{meta.total.covers }}</div>
            <div flex="25">{{meta.total.sales  | currency: '&pound' :2}}</div>
            <div flex="25">{{meta.total.sales / meta.total.covers | currency: '&pound' :2}}</div>
        </div>

    </whiteframe>

    <section class="md-whiteframe-z4" layout="column" layout-fill layout-padding ng-show="salesItems">

        <div layout layout="row">

            <div flex="20">MenuItem Name</div>
            <div flex="10">Portion</div>
            <div flex="10">Quantity</div>
            <div flex="10">Price</div>
            <div flex="10">Total</div>
            <div flex="10">Sales Mix(%)</div>
        </div>

        <md-divider></md-divider>
        <div layout="column" layout-fill data-ng-repeat="(groupCode,items) in salesItems">
            <md-divider></md-divider>
            <div flex align="center"><h2>{{groupCode}}</h2></div>
            <div layout="column" layout-fill data-ng-repeat="item in items">
                <div layout-fill layout="row">
                    <div flex="20">{{item.MenuItemName}}</div>
                    <div flex="10">{{item.PortionName}}</div>
                    <div flex="10">{{item.Quantity}}</div>
                    <div flex="10">{{item.Price | currency : '&pound' :2}}</div>
                    <div flex="10">{{item.Price * item.Quantity | currency : '&pound' :2}}</div>
                    <div flex="10">{{item.Quantity *100/ totalQty | number :2}}%</div>
                </div>
                <md-divider></md-divider>
            </div>
        </div>
    </section>

</section>
