<section layout="row" layout-wrap layout-align="center start"
         data-ng-controller="RecipesController"
         data-ng-init="init()">
    <div flex="100" flex-gt-md="80">
        <div data-ng-include="'modules/recipes/views/form-recipe.client.view.tpl.html'"></div>
    </div>



        <md-whiteframe layout layout="row" layout-padding layout-align="center center" class="md-whiteframe-z2">
            <md-button class="md-raised md-primary" ng-click="create()">Create Recipe</md-button>
            <md-button class="md-raised md-warn">Reset</md-button>
        </md-whiteframe>




    <pre>{{recipe}}</pre>
</section>

