<section flex layout="column" layout-fill layout-padding
         data-ng-controller="RecipesController"
         data-ng-init="editInit()">
    <form name="recipeForm" novalidate>
        <section data-ng-include="'modules/recipes/views/form-recipe.client.view.tpl.html'"></section>

        <md-whiteframe layout layout="row" layout-padding layout-align="center center" class="md-whiteframe-z2">
            <md-button class="md-raised md-primary" ng-click="update()">Update Recipe</md-button>
            <!--  <md-button class="md-raised md-warn">Reset</md-button> -->
        </md-whiteframe>

    </form>


    <pre>{{recipe}}</pre>
</section>
