    <md-whiteframe class="md-whiteframe-z4" flex>

            <!-- Header Section -->
            <md-card layout="column" layout-gt-sm="row">
                    <div flex-gt-sm="50">
                        <md-input-container>
                            <label>Recipe Name</label>
                            <input type="text" data-ng-model="recipe.name">
                        </md-input-container>
                    </div>
                    <div flex="50">
                        <md-input-container>
                            <label>Portion Size</label>
                            <input type="number" required data-ng-model="recipe.portionSize"
                                   ng-change="updateCalculatedFields()">
                        </md-input-container>
                    </div>
            </md-card>

            <!-- Ingredient Section -->
            <md-card layout>
                <div layout="row" layout-align="space-around center" layout-padding>
                    <div flex="50">Ingredient Name</div>
                    <div flex="10">Qty</div>
                    <div flex="10">Unit</div>
                    <div flex="10">Unit Cost</div>
                    <div flex="20">Total Cost</div>
                </div>

                <md-divider></md-divider>
                <div layout="column" layout-fill
                     ng-repeat="ingredientItem in recipe.ingredientItems">
                    <div layout="row">
                        <div flex="50">

                            <md-select style="padding:0;" ng-change="updateIngredientFields()"
                                       aria-label="Select an ingredient" data-ng-model="ingredientItem.ingredient">
                                <md-option ng-repeat="i in ingredientMaster" value="{{i._id}}">{{i.name}} -
                                    {{i.supplier.name}}
                                </md-option>
                            </md-select>
                        </div>
                        <div flex="10">
                            <md-input-container>
                                <input type="number" aria-label="Qty used" required="true"
                                       data-ng-model="ingredientItem.quantity" ng-change="updateIngredientFields()">
                            </md-input-container>
                        </div>
                        <div flex="10" align="center">
                            {{ingredientItem.units}}
                        </div>

                        <div flex="10" align="center">
                            {{ingredientItem.unitCost}}
                        </div>
                        <div flex="10" align="center">
                            {{ingredientItem.totalCost | number:3}}
                        </div>
                        <div flex="5">
                            <md-button ng-click="removeIngredientRow($index)" class="md-icon-button">
                                <md-icon md-font-library="material-icons">delete</md-icon>
                            </md-button>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </div>
                <md-button ng-click="addIngredientRow()" class="md-icon-button">
                    <md-icon md-font-library="material-icons">add</md-icon>
                </md-button>
            </md-card>

            <!-- Recipe Section -->
            <md-card layout>
                <div layout="row" layout-align="space-around center" layout-padding>
                    <div flex="25">Recipe Name</div>
                    <div flex="25">Weight</div>
                    <div flex="25">Unit Cost</div>
                    <div flex="20">Portion Cost</div>
                </div>

                <md-divider></md-divider>

                <div layout="column" layout-fill
                     ng-repeat="recipeItem in recipe.baseRecipeItems">
                    <div layout="row">
                        <div flex="25">
                            <md-select style="padding:0;" ng-change="updateBaseRecipeFields()"
                                       aria-label="Select an ingredient" data-ng-model="recipeItem.recipe">
                                <md-option ng-repeat="i in baseRecipeMaster" value="{{i._id}}">{{i.name}}
                                </md-option>
                            </md-select>
                        </div>
                        <div flex="25">
                            <md-input-container>
                                <input type="number" aria-label="Qty used" required="true"
                                       data-ng-model="recipeItem.quantity" ng-change="updateBaseRecipeFields()">
                            </md-input-container>
                        </div>

                        <div flex="25" align="center">
                            {{recipeItem.unitCost}}
                        </div>
                        <div flex="20" align="center">
                            {{recipeItem.totalCost}}
                        </div>
                        <div flex="5">
                            <md-button ng-click="removeBaseRecipeRow($index)" class="md-icon-button">
                                <md-icon md-font-library="material-icons">delete</md-icon>
                            </md-button>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </div>
                <md-button ng-click="addBaseRecipeRow()" class="md-icon-button">
                    <md-icon md-font-library="material-icons">add</md-icon>
                </md-button>
            </md-card>

            <md-card layout>
                <div flex layout layout="row">
                    <div flex>
                        <p>Weight</p>
                    </div>
                    <div flex>
                        <p>{{recipe.weight}} <i>gms</i></p>
                    </div>
                </div>
                <div flex layout layout="row">
                    <div flex>
                        <p>Yield</p>
                    </div>
                    <div flex>
                        <span flex layout="row">
                        <md-input-container>
                            <input type="number" aria-label="Yield" name="yield" data-ng-model="recipe.yield"
                                   ng-change="updateCalculatedFields()">
                        </md-input-container>
                            <p>gms</p></span>
                    </div>
                </div>
                <div flex layout layout="row">
                    <div flex>
                        <p>Total Weight</p>
                    </div>
                    <div flex>
                        <p>{{recipe.totalWeight}} gms</p>
                    </div>
                </div>

                <md-divider></md-divider>
                <div flex layout layout="column" layout-fill layout-padding>
                    <div flex layout="row">
                        <div flex><p>Recipe Cost</p></div>
                        <div flex><p>{{recipe.totalCost | currency : '&pound' :4 }}</p></div>
                    </div>
                    <div flex layout="row">
                        <div flex><p>Cost per portion</p></div>
                        <div flex><p>{{recipe.portionCost | currency : '&pound' :4 }}</p></div>
                    </div>
                </div>
            </md-card>


    </md-whiteframe>

