<section flex layout="column" layout-fill layout-padding
         data-ng-controller="RecipesController" data-ng-init="find()">

    <md-whiteframe class="md-whiteframe-z4" layout="column" layout-fill layout-padding>
        <div layout layout="row" layout-margin>
            <div flex="20">Name</div>
            <div flex="10">Portion Size</div>
            <div flex="10">Portion Cost</div>
            <div flex="10">Cost/Portion</div>
        </div>

        <md-divider></md-divider>
        <div layout layout="row">
            <md-input-container>
                <label>Name Filter</label>
                <input type="text" data-ng-model="searchText">
            </md-input-container>
        </div>

        <md-divider></md-divider>

        <div layout="column" layout-fill layout-padding data-ng-repeat="recipe in recipes | filter:searchText">
            <div layout-fill  layout="row" layout-margin>
                <div flex="20">{{recipe.name}}</div>
                <div flex="10">{{recipe.portionSize}}</div>
                <div flex="10">{{recipe.totalCost | currency : '&pound' :4}}</div>
                <div flex="10">{{recipe.portionCost | currency : '&pound' :4}}</div>
                <md-button ui-sref="viewRecipe({recipeId:recipe._id})" class="md-icon-button">
                    <md-icon md-font-library="material-icons">visibility</md-icon>
                </md-button>
                <md-button ui-sref="editRecipe({recipeId:recipe._id})" class="md-icon-button">
                    <md-icon md-font-library="material-icons">edit</md-icon>
                </md-button>
                <md-button ui-sref="#" class="md-icon-button">
                    <md-icon md-font-library="material-icons">delete</md-icon>
                </md-button>
            </div>

            <md-divider></md-divider>
        </div>


    </md-whiteframe>

    <!--
    <pre>{{searchText}}</pre>
    <pre><div ng-repeat="recipe in recipes | filter:searchText">{{recipe.name}}</div></pre>
    -->

</section>
