<section flex layout="column" layout-fill layout-padding
		data-ng-controller="RecipesController" data-ng-init="findOne()">
	<md-whiteframe layout="column" class="md-whiteframe-z4">
		<md-card layout="row" layout-margin layout-padding>
			<h1 flex>{{recipe.name}}</h1>
			<h3 flex>Portion Size {{recipe.portionSize}}</h3>
		</md-card>

		<md-content layout="row" layout-padding>
			<md-content flex layout="column" class="md-whiteframe-z2">
				<div flex layout="row" class="md-title" layout-margin layout-padding >

					<p flex>Name</p>
					<p flex>Supplier</p>
					<p flex>Qty</p>
					<p flex>Unit Cost</p>
					<p flex>Total Cost</p>
				</div>
				<md-divider></md-divider>

				<div flex layout="row" class="md-title" layout-margin layout-padding ng-repeat="item in recipe.ingredientItems">
					<p flex>{{item.ingredient.name}}</p>
					<p flex>{{item.ingredient.supplier.name}}</p>
					<p flex>{{item.quantity}} <i>gms</i></p>
					<p flex>{{item.unitCost | currency : '&pound' :4}}</p>
					<p flex>{{item.totalCost | currency : '&pound' : 4}}</p>
				</div>
				<div flex layout="row" class="md-title" layout-margin layout-padding ng-repeat="item in recipe.baseRecipeItems">
					<p flex>{{item.recipe.name}}</p>
					<p flex>Recipe</p>
					<p flex>{{item.quantity}} <i>gms</i></p>
					<p flex>{{item.unitCost | currency : '&pound' :4}}</p>
					<p flex>{{item.totalCost | currency : '&pound' : 4}}</p>
				</div>
				<md-divider></md-divider>

				<div layout="column" class="md-title" layout-padding layout-align="start center">
					<p> Weight : {{recipe.weight}} <i>gms</i></p>
					<p> Yield : {{recipe.yield}} <i>gms</i></p>
					<p> Total Weight : {{recipe.totalWeight}} <i>gms</i></p>
					<p> Total Cost : {{recipe.totalCost | currency : '&pound' : 4}}</p>
					<p> <b>Portion Cost : {{recipe.portionCost | currency : '&pound' : 4}}</b></p>
				</div>
			</md-content>



		</md-content>
	</md-whiteframe>

	<pre>{{recipe}}</pre>
</section>
