<section flex layout="column" layout-fill layout-padding
         data-ng-controller="MenuItemsController"
         data-ng-init="createInit()">
    <form name="recipeForm" novalidate>
        <section data-ng-include="'modules/menuitems/views/form-menuitem.client.view.tpl.html'"></section>
        <div layout layout-align="center">
            <md-button ng-click="create()" class="md-raised md-primary">
                Add Product
            </md-button>
        </div>
    </form>
<pre>{{menuItem}}</pre>
</section>
