    <md-dialog aria-label="Add GroupCode" data-ng-init="init()">
        <form>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>
                        <span ng-show="ctrl.groupCode._id">Edit </span>
                        <span ng-hide="ctrl.groupCode._id">Add </span>
                        Group Code
                    </h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="answer('not applicable')">
                        <md-icon md-font-library aria-label="Close dialog">close</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <md-input-container>
                    <label>Group Code</label>
                    <input type="text" required data-ng-model="ctrl.groupCode.name">
                </md-input-container>

            </md-dialog-content>

            <div class="md-actions" layout="row">

                <md-button ng-hide="ctrl.groupCode._id" ng-click="create(ctrl.groupCode)" class="md-primary">
                    Create
                </md-button>
                <md-button ng-show="ctrl.groupCode._id" ng-click="update(ctrl.groupCode)" class="md-primary">
                    Save
                </md-button>

            </div>

        </form>
</md-dialog>


