<md-whiteframe class="md-whiteframe-z4" layout layout="row" layout-wrap layout-align="center" layout-padding>
    <div flex="100" layout="row">
        <div flex="50">
        <md-input-container>
            <label>Name</label>
            <input type="text" required data-ng-model="menuItem.name">
        </md-input-container>
        </div>
        <div flex="50">
        <md-input-container>
            <label>GroupCode</label>
            <input type="text" required data-ng-model="menuItem.groupCode">
        </md-input-container>
        </div>
    </div>

    <!-- Portion Section -->
    <section flex="100" layout="row" layout-wrap layout-padding layout-align="center center">
        <md-card flex="45" layout="column" layout-padding ng-repeat="portion in menuItem.portions track by $index">
            <md-input-container>
                <label>Portion Name</label>
                <input type="text" required data-ng-model="portion.name">
            </md-input-container>
            <md-input-container>
                <label>Price (incl VAT)</label>
                <input type="number" required data-ng-model="portion.price" ng-change="updateGP(portion)">
            </md-input-container>


            <div layout layout="row">
                <label flex>Recipe Name</label>
                <md-select flex style="padding: 0;" data-ng-model="portion.activeRecipe" placeholder="Select Recipe"
                           ng-change="recipeChanged(portion)">
                    <md-option ng-repeat="recipe in recipes" value="{{recipe._id}}">{{recipe.name}}</md-option>
                </md-select>
            </div>


            <div flex layout layout-margin>
                <p>Cost: {{portion.cost | currency: '&pound': 4}} </p>
            </div>


            <div flex layout layout-margin>
                <p>GP %: {{portion.grossProfit | number}} </p>
            </div>

            <div flex align="center">
                <md-button aria-label="Remove Portion" ng-click="removePortion($index)" class="md-icon-button">
                    <md-icon md-font-library="material-icons">delete</md-icon>
                </md-button>
            </div>

        </md-card>


    </section>

    <md-button ng-click="menuItem.portions.push({})" class="md-icon-button">
        <md-icon md-font-library="material-icons">add</md-icon>
    </md-button>

</md-whiteframe>
