<section flex layout="column" layout-fill layout-padding
         data-ng-controller="MenuItemsController" data-ng-init="find()">

    <md-whiteframe class="md-whiteframe-z4" layout="column" layout-fill layout-padding>
        <div layout layout="row" layout-margin>
            <div flex="20">Product Name</div>
            <div flex="10">Portion</div>
            <div flex="10">Price (&pound)</div>
            <div flex="10">Cost (&pound)</div>
            <div flex="10">GP %</div>
        </div>

        <md-divider></md-divider>
        <div layout layout="row">
            <md-input-container>
                <label>Name Filter</label>
                <input type="text" data-ng-model="searchText">
            </md-input-container>
        </div>

        <md-divider></md-divider>

        <div layout="column" layout-fill layout-padding data-ng-repeat="(groupCode,items) in menuItems">

            <div flex align="center"><h2>{{groupCode}}</h2></div>
            <md-divider></md-divider>
            <div layout="column" layout-fill data-ng-repeat="item in items">
                <div flex layout="row" layout-fill>
                    <div flex="20">
                        <div>{{item.name}}</div>
                    </div>
                    <div flex="40" layout="column">
                        <div layout="row" ng-repeat="portion in item.portions">
                            <div flex>{{portion.name}}</div>
                            <div flex align="right">{{portion.price |number:2}}</div>
                            <div flex align="right">{{portion.cost |number:2}}</div>
                            <div flex align="right">{{portion.grossProfit | number:2}}</div>
                        </div>
                    </div>
                    <div flex="33">
                        <md-button ui-sref="viewMenuItem({menuItemId:item._id})" class="md-icon-button">
                            <md-icon md-font-library="material-icons">visibility</md-icon>
                        </md-button>
                        <md-button ui-sref="editMenuItem({menuItemId:item._id})" class="md-icon-button">
                            <md-icon md-font-library="material-icons">edit</md-icon>
                        </md-button>
                        <md-button ui-sref="#" class="md-icon-button">
                            <md-icon md-font-library="material-icons">delete</md-icon>
                        </md-button>
                    </div>
                </div>
                <md-divider></md-divider>
            </div>

        </div>


    </md-whiteframe>

    <!--
    <pre>{{searchText}}</pre>
    <pre><div ng-repeat="recipe in recipes | filter:searchText">{{recipe.name}}</div></pre>
    -->

</section>
