<section flex layout="column" layout-fill layout-padding
		 data-ng-controller="MenuItemsController" data-ng-init="findOne()">
	<md-whiteframe layout="column" class="md-whiteframe-z4">
		<md-card layout="row" layout-margin layout-padding>
			<h1 flex>{{menuItem.name}}</h1>
		</md-card>

		<md-card layout="column" layout-padding>
			<div layout layout="row">
				<div flex>Portion</div>
				<div flex>Recipe</div>
				<div flex>Cost (&pound)</div>
				<div flex>Price (&pound)</div>
				<div flex>GP %</div>
			</div>
			<md-divider></md-divider>

			<div layout="row" ng-repeat="portion in menuItem.portions">
				<div flex>{{portion.name}}</div>
				<div flex><a ui-sref="viewRecipe({recipeId:portion.activeRecipe._id})">{{portion.activeRecipe.name}}</a></div>
				<div flex>{{portion.cost | number:2}}</div>
				<div flex>{{portion.price | number:2}}</div>
				<div flex>{{portion.grossProfit | number:2}}</div>
			</div>


		</md-card>
	</md-whiteframe>

	<pre>{{menuItem}}</pre>
</section>
